name: Lint and Test

on: push

jobs:
  lint-and-test:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set-up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.20
          cache: true

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          args: --config .golangci.yml

      - name: Test
        run: go test -race -covermode=atomic -coverprofile=./coverage.out ./...

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          verbose: true
